[Desktop Entry]
Type=Application
Name[ar]=منظور تعدد المهام
Name[be]=Прагляд стальцоў
Name[bg]=Многозадачен изглед
Name[bs]=Multitasking pregled
Name[ca]=Vista de multitasca
Name[cs]=Víceúlohové zobrazení
Name[da]=Multitask Oversigt
Name[de]=Übersicht der Arbeitsflächen
Name[en_AU]=Multitasking View
Name[en_CA]=Multitasking View
Name[en_GB]=Multitasking View
Name[eo]=Panoramo de plurtaskado
Name[es]=Vista de multitarea
Name[et]=Tööalade ülevaade
Name[fi]=Moniajonäkymä
Name[fr]=Vue multitâche
Name[gl]=Vista multitarefa
Name[he]=תצוגת ריבוי משימות
Name[hi]=सभी खिड़किया देखे
Name[hr]=Višeradni pogled
Name[hu]=Többfeladatos nézet
Name[id]=Tampilan Pancatugas
Name[it]=Panoramica degli spazi di lavoro
Name[ja]=マルチタスク画面
Name[ka]=მრავალამოცანიანი ხედი
Name[ko]=멀티태스킹 보기
Name[lb]=Multitasking Perspektive
Name[lt]=Daugiaprogramio apdorojimo rodinys
Name[mn]=Олноор харах
Name[mr]=मल्टीटास्किंग व्ह्यू
Name[ms]=Paparan Tugas Berbilang
Name[nb]=Vis arbeidsområder
Name[nl]=Multitasking weergave
Name[nn]=Multitasking visning
Name[pl]=Widok wielozadaniowy
Name[pt]=Vista de Tarefas
Name[pt_BR]=Visão Multitarefa
Name[ro]=Privire multifuncțională
Name[ru]=Многозадачный вид
Name[si]=බහු කාර්ය කරන දර්ශනය
Name[sk]=Multitaskingový pohľad
Name[sl]=Pokaži vsa okna
Name[sr]=Преглед покренутих задатака
Name[sv]=Multitaskingvy
Name[szl]=Widok multitaskingu
Name[th]=มุมมองแบบมัลติทาสก์
Name[tl]=View na Pang-multitasking
Name[tr]=Çoklu Görev Görünümü
Name[ug]=كۆپ ۋەزىپىلىك كۆرۈنۈش
Name[uk]=Багатозадачний вигляд
Name[vi]=Chế độ xem đa nhiệm
Name[zh_CN]=多任务视图
Name[zh_TW]=多工作業檢視
Name=Multitasking View
Comment[ar]=اعرض جميع النوافذ المفتوحة ومساحات العمل
Comment[be]=Праглядзець усе адкрытыя вокны і стальцы
Comment[bg]=Прегледа на всички прозорци и на работните плотове
Comment[bs]=Pregledajte sve otvorene prozore i radne površine
Comment[ca]=Visualitza totes les finestres obertes i totes les àrees de treball
Comment[cs]=Zobrazení všech oken a pracovních ploch
Comment[da]=Se alle åbne vinduer og arbejdsområder
Comment[de]=Alle offenen Fenster und Arbeitsflächen anzeigen
Comment[el]=Προβολή όλων των ανοικτών παραθύρων και χώρων εργασίας
Comment[en_AU]=View all open windows and workspaces
Comment[en_CA]=View all open windows and workspaces
Comment[en_GB]=View all open windows and workspaces
Comment[eo]=Rigardi ĉiujn malfermitajn fenestrojn kaj laborspacojn
Comment[es]=Ver todas las ventanas y áreas de trabajo
Comment[et]=Kõikide avatud akende ja tööalade vaatamine
Comment[fi]=Näytä kaikki avoimet ikkunat ja työtilat
Comment[fr]=Afficher toutes les fenêtres ouvertes et les espaces de travail
Comment[gl]=Ver todas as xanelas abertas e os espazos de traballo
Comment[he]=צפייה בכל סביבות העבודה והחלונות הפתוחים
Comment[hi]=सभी वर्त्तमान खिड़किया और कार्यस्थल देखे
Comment[hr]=Prikaži sve otvorene prozore i radne prostore
Comment[hu]=Az összes nyitott ablak és munkaterület mutatása
Comment[id]=Lihat semua jendela dan ruang kerja yang terbuka
Comment[it]=Visualizza tutte le finestre aperte e le aree di lavoro
Comment[ja]=すべての開いているウィンドウとワークスペースを参照します
Comment[ka]=ყველა გახსნილი ფანჯრის და სამუშაო გარემოს ნახვა
Comment[ko]=모든 창과 작업 공간 보기
Comment[lb]=All oppen Fënsteren an Aarbechtsflächen uweisen
Comment[lt]=Rodyti visus atvertus langus ir visas darbo sritis
Comment[mn]=Бүх ажлын орчин, нээлттэй цонхнуудыг харах
Comment[mr]=सर्व खुल्या विंडो आणि कार्यक्षेत्र पहा
Comment[ms]=Lihat semua tetingkap terbuka dan ruang kerja
Comment[nb]=Vis alle åpne vinduer og arbeidsområder
Comment[nl]=Toon alle open vensters en werkbladen
Comment[nn]=Vis alle opne vindauge og arbeidsområde
Comment[pl]=Pokaż wszystkie otwarte okna i obszary robocze
Comment[pt]=Ver todas as janelas e ambientes de trabalho
Comment[pt_BR]=Ver todas as janelas e áreas de trabalho abertas
Comment[ro]=Vizualizați toate ferestrele deschise și spațiile de lucru
Comment[ru]=Просмотр всех открытых окон и рабочих пространств
Comment[si]=සෑම විවෘත කවුළු සහ කාර්ය ඉඩ බලන්න
Comment[sk]=Ukázať všetky otvorené okná a plochy
Comment[sl]=Pregled vseh odprtih oken in površin
Comment[sq]=Shfaqi të gjitha dritaret e hapura dhe hapësirat e punës
Comment[sr]=Прегледајте све отворене прозоре и радне просторе
Comment[sv]=Visa alla öppna fönster och arbetsytor
Comment[szl]=Pokoż wszyjske ôtwarte ôkna i place robocze
Comment[th]=ดูหน้าต่างและพื้นที่ทำงานที่เปิดใช้งานอยู่
Comment[tr]=Tüm açık pencereleri ve çalışma alanlarını göster
Comment[ug]=بارلىق ئىچىلغان كۆزنەكلەرنى ۋە خىزمەت رايونلىرىنى كۆرۈش
Comment[uk]=Переглянути всі відкриті вікна та робочі простори
Comment[vi]=Xem tất cả các cửa sổ mở và không gian làm việc
Comment[zh_CN]=查看所有打开的窗口和工作区
Comment[zh_TW]=檢視所有開啟的視窗與工作區
Comment=View all open windows and workspaces
GenericName[ar]=منظور تعدد المهام
GenericName[be]=Прагляд стальцоў
GenericName[bg]=Многозадачен изглед
GenericName[bs]=Multitasking pregled
GenericName[ca]=Vista de multitasca
GenericName[cs]=Víceúlohové zobrazení
GenericName[da]=Multitask Oversigt
GenericName[de]=Übersicht der Arbeitsflächen
GenericName[en_AU]=Multitasking View
GenericName[en_CA]=Multitasking View
GenericName[en_GB]=Multitasking View
GenericName[eo]=Panoramo de plurtaskado
GenericName[es]=Vista de multitarea
GenericName[et]=Tööalade ülevaade
GenericName[fi]=Moniajonäkymä
GenericName[fr]=Vue multitâche
GenericName[gl]=Vista multitarefa
GenericName[he]=תצוגת ריבוי משימות
GenericName[hi]=सभी खिड़किया देखे
GenericName[hr]=Višeradni pogled
GenericName[hu]=Többfeladatos nézet
GenericName[id]=Tampilan Pancatugas
GenericName[it]=Panoramica degli spazi di lavoro
GenericName[ja]=マルチタスク画面
GenericName[ka]=მრავალამოცანიანი ხედი
GenericName[ko]=멀티태스킹 보기
GenericName[lb]=Multitasking Perspektive
GenericName[lt]=Daugiaprogramio apdorojimo rodinys
GenericName[mn]=Олноор харах
GenericName[mr]=मल्टीटास्किंग व्ह्यू
GenericName[ms]=Paparan Tugas Berbilang
GenericName[nb]=Vis arbeidsområder
GenericName[nl]=Multitasking weergave
GenericName[nn]=Multitasking visning
GenericName[pl]=Widok wielozadaniowy
GenericName[pt]=Vista de Tarefas
GenericName[pt_BR]=Visão Multitarefa
GenericName[ro]=Privire multifuncțională
GenericName[ru]=Многозадачный вид
GenericName[si]=බහු කාර්ය කරන දර්ශනය
GenericName[sk]=Multitaskingový pohľad
GenericName[sl]=Pokaži vsa okna
GenericName[sr]=Преглед покренутих задатака
GenericName[sv]=Multitaskingvy
GenericName[szl]=Widok multitaskingu
GenericName[th]=มุมมองแบบมัลติทาสก์
GenericName[tl]=View na Pang-multitasking
GenericName[tr]=Çoklu Görev Görünümü
GenericName[ug]=كۆپ ۋەزىپىلىك كۆرۈنۈش
GenericName[uk]=Багатозадачний вигляд
GenericName[vi]=Chế độ xem đa nhiệm
GenericName[zh_CN]=多任务视图
GenericName[zh_TW]=多工作業檢視
GenericName=Multitasking View
Icon[ar]=multitasking-view
Icon[bs]=multitasking-view
Icon[ca]=multitasking-view
Icon[cs]=multitasking-view
Icon[da]=multitasking-view
Icon[de]=multitasking-view
Icon[en_AU]=multitasking-view
Icon[en_CA]=multitasking-view
Icon[en_GB]=multitasking-view
Icon[eo]=multitasking-view
Icon[es]=multitasking-view
Icon[fi]=multitasking-view
Icon[fr]=multitasking-view
Icon[he]=multitasking-view
Icon[hu]=multitasking-view
Icon[id]=multitasking-view
Icon[it]=multitasking-view
Icon[ja]=multitasking-view
Icon[ko]=multitasking-view
Icon[lt]=multitasking-view
Icon[mr]=multitasking-view
Icon[nb]=multitasking-view
Icon[nl]=multitasking-view
Icon[nn]=multitasking-view
Icon[pl]=multitasking-view
Icon[pt]=multitasking-view
Icon[pt_BR]=multitasking-view
Icon[ru]=multitasking-view
Icon[si]=multitasking-view
Icon[sl]=multitasking-view
Icon[sr]=multitasking-view
Icon[sv]=multitasking-view
Icon[szl]=multitasking-view
Icon[tr]=multitasking-view
Icon[uk]=multitasking-view
Icon[vi]=multitasking-view
Icon[zh_CN]=multitasking-view
Icon[zh_TW]=multitasking-view
Icon=multitasking-view
Terminal=false
Categories=GNOME;GTK;System;
Exec=dbus-send --session --dest=org.pantheon.gala --print-reply /org/pantheon/gala org.pantheon.gala.PerformAction int32:1
X-AppStream-Ignore=true
OnlyShowIn=Pantheon;
